/*selector universal*/
*{
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(233, 245, 255);
    color: white;
}

#contenedor{
    width: 72%;
    height: 100%;
    background-color: rgb(237, 253, 193);
    border-radius: 20px;
}

#encabezado{
    width: 70%;
    background-color: brown;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 4%;
    background-color: rgb(194, 194, 153);
    margin: 1em;
    border-radius: 5px;
 

}

ul{
    text-align: center;
    padding: 10px;
}

li{
    display:inline;
    padding: 10px,30px;
    margin: 3em;
}

li a:hover{
    color: red;
    text-decoration:none;
    list-style: none;
}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

#contenido{
    height: 75%;
    width: 58%;
    background-color: rgb(144, 207, 226);
    margin: 0.5em;
    display:inline-block;
    border-radius: 20px;
    text-align: center;
}

.img{
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color:brown;
  
    margin: 1em 2em;
    border-radius: 5px;
}



#fueraSeccion{
   border-radius: 20px;
    width: 30%;
    height: 1035px;
    background-color: rgb(166, 194, 183);
    margin: 0.5em;
    display:inline-block; 
    vertical-align: top;
  
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color:brown;
    color: white;
    margin: 1em 2em;
    border-radius: 5px;
}

.lista-aside{
    padding: 20px;
}

.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    color: black;

}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: black;
}

#pie{
   
    background-color: blanchedalmond;
    margin: 1.5em;
    text-align: center;
    padding: 5px;

}

#pie h4{
    padding: 15px;
    font-size: 15px;
    color: black;
    background-color: blanchedalmond;
}