*{
    padding: 0;
    margin: 0;
}

h1{
    background: green;
    color: white;
    
    padding: 40px;
    margin: 10px;
    font-size: 50px;
}

ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    background: green;
     margin: 10px;
    padding: 15px;
    color: white;
}

li{
    padding: 10px;
    text-decoration: none;
    color: white;
}

li a{
    color: white;
    font-family:sans-serif;
    font-size: 20px;
}

li a:hover{
    color: red;
    text-decoration:none;
    list-style: none;
}

.contenedor{
    border: solid 3px green;
    margin: 10px;
    margin-bottom: 2px;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
    
}

.contIMG{
    display:inline-block;
    font-family: sans-serif;
    padding: 5px;

}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-size: 20px;
}

.pie{
    justify-content: center;
    background: red;
    color: white;
    width: 1250px;
    padding: 40px;
}